* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.625rem;
    color: #777;
    background: #0CF;
}

h1 {
    color: black;
    font-size: xx-large;
}

.grid-container {
    display: grid;
    row-gap: 25px;
    margin: auto;
}

small {
    font-size: medium;
    padding: 1rem;
    font-family: monospace;
}

.grid-header {
    display: inline-grid;
    padding: 1em;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 3;
}

.grid-item {
    display: inline-grid;
    width: 100%;
    text-align: center;
}

.codeblock {
    font-family: monospace;
    color: #333;
    max-width: 66%;
    margin: auto;
    background-color: white;
    padding: 0 25px 25px 25px;
}

.codeblock>.grid-item {
    border-bottom: 2px solid #ddd;
}

.form-container {
    max-width: 400px;
    width: 100%;
    margin: 0 0;
}

#edit-character input[type="text"],
#edit-character input[type="number"],
#edit-character select {
    font: 400 12px/16px Helvetica, Arial, sans-serif;
}

#edit-character {
    background: #F9F9F9;
    padding: 25px;
    margin: 50px 0 0 0;
}

h3 {
    color: #F96;
    display: block;
    font: 400 12px/16px Helvetica, Arial, sans-serif;
    font-size: 30px;
    font-weight: 400;
    padding-bottom: 25px;
}

fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
}

#edit-character input[type="text"],
#edit-character input[type="number"],
#edit-character select {
    width: 100%;
    border: 1px solid #CCC;
    background: #FFF;
    margin: 0 0 5px;
    padding: 10px;
}

#edit-character input[type="text"]:hover,
#edit-character input[type="number"]:hover,
#edit-character select:hover {
    transition: border-color 0.3s ease-in-out;
    border: 1px solid #AAA;
}

#edit-character input:focus,
#edit-character select:focus {
    outline: 0;
    border: 1px solid #999;
}

.lds-dual-ring {
    padding-left: -100px;
    display: inline-block;
    width: 80px;
    height: 80px;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #000;
    border-color: #000 transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

img {
    max-width: 400px
}
